body {
  font-family: 'Glegoo', serif;

}
h1 {
  text-align: center;
}
h2 {
  display: none;
  margin-left: 310px;
  margin-top: 50px;
}
img {
  width: 200px;
  margin-top: 60px;
}
#user-info {
  font-size: 16px;
  text-align: center;
}
#error {
  text-align: center;
}
.bold {
  margin-top: 15px;
  font-size: 14px;
}
.header {
  margin-top: 30px;
  border: 1px solid #f3f3f3;
  box-shadow: 3px 3px 5px #f2f2f2;
  padding: 50px;
}
